<div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Roll No</label>
    <div class="col-sm-10">
        <input type="text" name="rollno" id="" class="form-control" value="{{this.rollno}}" required>
    </div>
</div>
<div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
        <input type="text" name="name" id="" class="form-control" value="{{this.name}}" required>
    </div>
</div>
<div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Date of Birth</label>
    <div class="col-sm-10">
        <input type="date" name="dob" id="" class="form-control" value="{{this.dob}}" required>
    </div>
</div>
<div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Score</label>
    <div class="col-sm-10">
        <input type="text" name="score" id="" class="form-control" value="{{this.score}}" required>
    </div>
</div>
<div class="pt-3">
<button type="submit" class="btn btn-primary mb-3"> Submit </button>
</div>