<a href="/logout" class="btn btn-danger logout">Log Out</a>
<a href="/dashboard" class="btn btn-primary">Go Back</a>
{{#if alert}}
{{alert}}
{{/if}}
<div class="pt-5">
<h2>Edit Result</h2>

    {{#each rows}}
<form action="/editresult/{{this.id}}" method="post">
    {{> result-form}}
</form>
    {{/each}}
</div>
